body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

.cabecera {
    /* Reducimos el relleno (padding) de 10px 20px a un valor más pequeño (ej. 5px)
       Esto reduce el espacio vertical y horizontal alrededor del contenido. */
    padding: 20px; 
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    text-align: left; 
    background-color: #333;
    color: rgb(19, 182, 247);
    border-radius: 0 0 25px 25px; 
}

/* Modificamos el tamaño del logo si está activo */
.icocab {
    width: 50px; /* Reducimos el logo de 70px a 50px */
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

/* Reducimos el texto dentro del div.texto */
.cabecera h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2em; 
    color: rgb(19, 182, 247); 
}

.cabecera p {
    margin: 0;
    font-size: 0.7em; 
    text-align: center;
    opacity: 0.9;
}

/* Reducimos la separación del menú de navegación */
.nav a {
    color: #e8e9eb;
    text-decoration: none;
    /* Reducimos el espacio alrededor de los enlaces de 10px a 5px */
    gap: 5px; 
    font-size: 0.9em; /* Aseguramos que el texto del menú también sea más pequeño */
}

/* Regla existente para .nav que ahora usará el gap de 5px */
.nav {
    display: flex;
    justify-content: right;
    gap: 5px; /* Aquí se define la separación entre los enlaces */
    font-size: 0.9em; 
}

header,
footer {
  text-align: center;
  background-color: #333;
  color: rgb(19, 182, 247);
  padding: 1rem;
}
header{
  border-radius: 0 0 25px 25px; 
}

table { width: 100%; border-collapse: collapse; margin-top: 15px; }
        th, td { border: 1px solid #ddd; padding: 10px; text-align: left; }
        th { background-color: #f2f2f2; }