body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

.cabecera {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* tres columnas: izquierda, centro, derecha */
  align-items: center;
  text-align: center;
}
.icocab{
    border-radius: 50%;
}

.cabecera h1 {
  justify-self: center; /* asegura que el título esté centrado */
}

.cabecera img {
  justify-self: start;
}

.cabecera nav {
  justify-self: end;
}
a{
  color:  #e8e9eb;
  text-decoration: none;
}

.icocab{
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.nav {
  display: flex;
  justify-content: right;
  gap: 10px;
}

header,
footer {
  text-align: center;
  background-color: #333;
  color: rgb(19, 182, 247);
  padding: 1rem;
}
header{
  border-radius: 0 0 25px 25px; 
}

table { width: 100%; border-collapse: collapse; margin-top: 15px; }
        th, td { border: 1px solid #ddd; padding: 10px; text-align: left; }
        th { background-color: #f2f2f2; }