*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: rgb(59, 59, 59);
}
h1 {    
    font-size: 4.5rem;
    text-align: center;
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
    color: rgb(255, 145, 0);
}