
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 2em;
}

.titulo {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(164, 164, 228);
    margin-bottom: 50px;
    background-color: black ;
}